<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="consumerRepository" class="com.dgumarov.repository.StubConsumerRepositoryImpl" />
    <bean name="consumerService" class="com.dgumarov.service.StubConsumerServiceImpl">
        <!-- <constructor-arg index="0" ref="consumerRepository" /> -->
        <!-- узнать, что лучше использовать index vs name -->
        <property name="repository" ref="consumerRepository" />
    </bean>

    <bean name="productRepositoryInMemory" class="com.dgumarov.repository.MemoryProductRepositoryImpl" />
    <bean name="productRepositoryInDb" class="com.dgumarov.repository.DbProductRepositoryImpl" />
    <bean name="productService" class="com.dgumarov.service.ProductServiceImpl">
        <!--<property name="productRepository" ref="productRepositoryInMemory" />-->
        <property name="productRepository" ref="productRepositoryInDb" />
    </bean>
</beans>